* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    overflow: overlay;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
}

/* ================ Scroll ================ */
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* ================ Common ================ */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container {
    width: 1140px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-block;
    color: var(--text-color-white, #fff);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
    min-width: 173px;
    height: 57px;
    line-height: 57px;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: var(--primary-color-black-green, #143c3c);
    transition: 0.25s;
}

.btn:hover {
    background: #83a17d;
    border: 1px solid transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.section-heading {
    position: relative;
    color: var(--primary-color-black, #152427);
    font-family: "Poppins", sans-serif;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.section-desc {
    color: var(--text-color-light-gray, #7d8188);
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

.section-menu {
    position: relative;
    color: var(--primary-color-black, #152427);
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
    margin-left: 46px;
}

.section-menu::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--primary-color-black, #152427);
    left: -46px;
    top: 50%;
}

.section-title {
    color: var(--primary-color-black, #152427);
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

/* ================ Header ================ */
.header {
    margin-top: 28px;
}

.header.fixed {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #fff;
}

.logo-icon {
    width: 146.4px;
    height: 26.236px;
    object-fit: cover;
}

.logo {
    width: 50%;
}

.header__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;
}

.header__top::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.navbar__list {
    display: flex;
    column-gap: 38px;
}

.navbar__item-link {
    position: relative;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.navbar__item-link:hover {
    color: var(--primary-color-black, #152427);
}

.navbar__item-active {
    color: var(--primary-color-black, #152427);
}

.navbar__item-active::after {
    position: absolute;
    bottom: -32px;
    left: 0;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green, #143c3c);
    z-index: 1;
}

/* ================ Hero ================ */
.hero__body {
    display: flex;
    padding-bottom: 164.7px;
}

.hero__heading {
    color: var(--primary-color-black, #152427);
    max-width: 368px;
    margin: 103px 0 20px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero__desc {
    max-width: 341px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.hero__cta {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero__watch {
    display: flex;
    align-items: center;
    margin-left: 36px;
    position: relative;
}

.hero__play-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-out;
}

.hero__play-link:hover .hero__icon {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.hero__play-link:hover .haft-circle {
    transform: rotate(-314deg);
}

.hero__play-link:hover .hero__watch-video {
    color: #62865b;
}

.haft-circle {
    /* Create the circle */
    width: 57px;
    height: 57px;
    border: 4px solid black;
    border-radius: 50%;
    /* Halve the circle */
    border-bottom-color: transparent;
    border-left-color: transparent;
    /* Rotate the circle */
    transform: rotate(-135deg);
    transition: all 0.4s ease-out;
}

.hero__icon {
    position: absolute;
    display: inline-flex;
    width: 44px;
    height: 43px;
    background: #83a17d;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    left: 7px;
    transition: all 0.4s ease-out;
}

.hero__watch-video {
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    margin-left: 15px;
}

.hero__media {
    position: relative;
    display: flex;
    margin-top: 61px;
    gap: 20px;
    margin-left: 76px;
}

.hero__bg {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    transform: translateX(-50%);
    filter: blur(137px);
    z-index: -1;
}

.hero__img {
    object-fit: cover;
    width: 202px;
    height: 466px;
    border-radius: 110px;
    position: relative;
}

.hero__img2 {
    bottom: -77px;
}

.hero__decorate-top,
.hero__decorate-bot,
.hero__decorate-extra1,
.hero__decorate-extra2 {
    display: inline-block;
    position: absolute;
}
.hero__decorate-top {
    margin: 27px 298px auto 294px;
}
.hero__decorate-extra1 {
    margin: 35.61px 802.58px auto 254.61px;
}
.hero__decorate-bot {
    margin: 320px 70.64px auto 495px;
}
.hero__decorate-extra2 {
    margin: 561.06px 34.12px auto 1027.45px;
}

/* ================ Hero ================ */
.partner {
    margin: 42.3px 0 106px;
}

.partner__body {
    height: 201px;
    border-radius: 100.5px;
    background: var(--scondery-color-light-green, #e2eddf);
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 897px;
}

.partner__item .partner__item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partner__item-icon {
    display: inline-block;
}

.partner__item:nth-child(2) .partner__item-icon {
    margin-right: 5px;
}

.partner__item:nth-child(3) .partner__item-icon {
    margin-right: 11px;
}

.partner__item:last-child .partner__item-icon {
    margin-right: 14px;
}

.partner__item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partner__item:first-child .partner__item-link {
    color: var(--primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 3.1rem;
    font-weight: 500;
    line-height: normal;
}

.partner__item:nth-child(2) .partner__item-link {
    color: var(--primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: normal;
}

.partner__item:nth-child(3) .partner__item-link {
    color: #163c35;
    font-family: Poppins;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: normal;
}

.partner__item:nth-child(4) .partner__item-link {
    color: var(--primary-color-black-green, #143c3c);
    font-family: Sonsie One;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: normal;
}

.partner__item:last-child .partner__item-link {
    color: var(--primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.995px;
}

/* ================ Services ================ */
.service__info {
    margin-bottom: 76px;
    padding-bottom: 9px;
}

.service__img {
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service__heading {
    margin-top: 12px;
    width: 520px;
    height: 104px;
}

.service__heading::after {
    position: absolute;
    content: "";
    bottom: 20%;
    left: 67.5%;
    width: 66px;
    height: 2px;
    background: var(--primary-color-black, #152427);
}

.action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -63px;
    column-gap: 17px;
    margin-right: 76px;
}

.action-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 54px;
    background: var(--scondery-color-light-green, #e2eddf);
    color: #152427;
    transition: 0.25s;
}

.arrow-prev {
    rotate: 180deg;
}

.action-arrow:hover {
    background: var(--primary-color-black-green, #143c3c);
    color: #ffffff;
}

.action-arrow.action-active {
    background: var(--primary-color-black-green, #143c3c);
    color: #ffffff;
}

.service__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service__title {
    margin: 24px 0 18px;
    transition: 0.25s;
}

.service__desc {
    width: 268px;
    transition: 0.25s;
}

.service__item {
    overflow: hidden;
    height: 480px;
}

.service__item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__item:hover .service__title,
.service__item:hover .service__desc {
    margin-left: 18px;
}

.service__img-bg {
    width: 368px;
    height: 318px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}
.service__img {
    transition: 0.25s;
}

/* ================ About ================ */

.about {
    margin-top: 149px;
}

.about__body {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.about__extra {
    position: absolute;
    left: 46px;
    bottom: 512.31px;
    right: 1018.28px;
}

.about__cord {
    position: absolute;
    z-index: 1;
    left: 84.23px;
    top: 31px;
}

.about__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 21px;
}

.about__img {
    display: inline-flex;
    width: 284px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    object-fit: cover;
}

.about__img-item1 {
    margin-top: 90px;
}

.about__img-item2 {
    position: relative;
    margin-top: 13px;
    width: 286px;
    height: 480px;
}

.about__content {
    width: 42.5%;
}

.about__heading {
    margin: 20px 0 11px;
}

.about__content-desc {
    font-size: 1.6rem;
    line-height: 1.625; /* 162.5% */
    width: 478px;
}

.about__info-desc {
    margin-left: 24px;
    width: 364px;
}

.about__info-item {
    padding-bottom: 20px;
    padding-top: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #83a17d;
}

.about__info-item.section-heading {
    margin-right: 24px;
}

.about__process {
    position: absolute;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    right: -9px;
    top: 405px;
    left: 152px;
    bottom: -69px;
    z-index: 1;
}

.about__process-info {
    padding: 19px 23px 0;
}

.about__process-header {
    color: var(--primary-color-black, #152427);
    font-family: Public Sans;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-bottom: 6px;
}

.about__process-desc {
    color: var(--text-color-black-gray, #575d5e);
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
    margin-bottom: 10px;
}

.about__process-line {
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background-image: linear-gradient(
        to right,
        #83a17d 0 40%,
        #eaeaea 40% 100%
    );
}

.about__desc {
    color: var(--primary-color-black, #152427);
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
    margin-bottom: 3px;
}

.about__loading {
    margin-top: 3px;
    margin-left: 55px;
}

.about__process-teams {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 109px;
    margin: 0 auto;
}

.about__img-mem {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #fff;
    object-fit: cover;
    margin-left: -6px;
}

.about__img-teams {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    outline: 3px solid #eaeaea;
    background: var(--primary-color-black-green, #143c3c);
    margin: 3px 113px 5px 19px;
}

/* ================ Our Process ================ */
.our-process {
    margin-bottom: 128px;
}

.our__body {
    margin-top: 79px;
    padding-top: 36px;
}

.our__heading {
    margin-top: 20px;
    width: 477px;
}

.our__stt {
    color: var(--primary-color-black-green, #143c3c);
    font-size: 7.2rem;
    line-height: 0.72; /* 72.222% */
    transition: 0.25s;
}

.our__heading::after {
    position: absolute;
    content: "";
    bottom: 20%;
    left: 88%;
    width: 66px;
    height: 2px;
    background: var(--primary-color-black, #152427);
}

.our__list {
    margin-top: 115px;
}

.our__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 54px 41px 28px 20px;
    transition: 0.25s;
}

.our__first-item {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our__more {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-right: 130px;
}

.our__learn-more {
    display: none;
    position: relative;
    color: var(--text-color-black-gray, #575d5e);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.our__learn-more::after {
    position: absolute;
    content: "";
    width: 99px;
    height: 1px;
    background: #152427;
    bottom: 0;
    left: 0;
}

.our__item:nth-child(1) .our__more {
    margin-right: 180px;
}

.our__item:nth-child(3) .our__more {
    margin-right: 180px;
}

.our__item:hover {
    border-radius: 33px;
    padding: 57px 41px 45px 20px;
    background: var(--scondery-color-light-green, #e2eddf);
    transform: translateY(-10px);
    cursor: pointer;
    justify-content: flex-start;
    gap: 64px;
}

.our__item:hover .our__learn-more {
    display: block;
}

.our__item:hover .our__img {
    display: block;
}

.our__item:hover .our__desc {
    display: none;
}

.our__item:hover .our__more {
    display: flex;
}

.our__item:hover .our__stt {
    margin-bottom: 20px;
    margin-left: 10px;
}

.our__item:hover:after {
    background: transparent;
}

.our__item::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 1131px;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    left: 0;
}

.our__img {
    display: none;
    position: absolute;
    right: 92px;
    bottom: 0;
    width: 450px;
    height: 444px;
}

.our__desc {
    width: 572px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: Public Sans;
    font-size: 1.8rem;
    line-height: 1.556; /* 155.556% */
}

/* ================ Project ================ */
.project {
    background: #143c3c;
    padding: 116px 0 63px;
    position: relative;
}

.project__info {
    display: flex;
    justify-content: space-between;
}

.project__heading {
    width: 457px;
    color: #e7f9f9;
}

.project__heading::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 64.2%;
    width: 66px;
    height: 2px;
    background: var(--scondery-color-blue, #83a17d);
}

.project__desc-link {
    display: flex;
    align-items: center;
    margin: 13px 0 65px;
}

.project__desc {
    color: #fff;
    font-family: Public Sans;
    margin-right: 26px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.556; /* 155.556% */
}

.project__media-item {
    position: relative;
}

#video {
    width: 1140px;
    height: 544px;
    border-radius: 22px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project__icon-bg {
    position: absolute;
    background: transparent;
    left: calc(50% - 59px);
    top: calc(50% - 59px);
    width: 118px;
    height: 118px;
    border-radius: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}

.project__icon-bg:hover {
    background: #000;
}

.project-extra,
.project-cord {
    position: absolute;
    z-index: 1;
}

.project-cord {
    top: 113px;
    right: 140px;
}

.project-extra {
    top: 205px;
    right: 142px;
}

/* ================ Features ================ */
.feature {
    margin: 140px 0 184px;
}

.feature__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feature__heading {
    width: 520px;
    color: var(--primary-color-black, #152427);
    text-align: center;
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
    margin-bottom: 20px;
}

.feature__desc-info {
    width: 547px;
    color: var(--text-color-light-gray, #7d8188);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    margin-bottom: 103px;
}

.feature__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
}

.feature__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: 0.25s;
}

.feature__item:hover {
    transform: translateY(-59px);
    border-radius: 160px;
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    border: none;
}

.feature__title-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feature__icon {
    object-fit: cover;
}

.feature__title {
    margin-top: 20px;
    font-size: 2rem;
}

.feature__desc {
    margin-top: 12px;
    width: 286px;
    text-align: center;
}

.feature__desc:last-child {
    width: 264px;
}

/* ================ Blog Articles ================ */
.blog {
    margin-bottom: 102px;
}

.blog__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 90px;
}

.blog__heading {
    position: relative;
    width: 520px;
    height: 96px;
    color: var(--primary-color-black, #152427);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.blog__heading::after {
    position: absolute;
    content: "";
    bottom: 10%;
    left: 94%;
    width: 82px;
    height: 3px;
    background: var(--primary-color-black, #152427);
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog__item {
    transition: 0.25s;
}

.blog__item-bg {
    height: 204px;
    padding: 26px 0 12px;
}

.blog__item:hover {
    border-radius: 40px 40px 20px 20px;
    background: var(--text-color-white, #fff);
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog__item:hover .blog__link-bg {
    margin-left: 30px;
    background: var(--primary-color-black-green, #143c3c);
}

.blog__item:hover .blog__link {
    color: #fff;
}

.blog__item:hover .blog__item-desc {
    margin-left: 30px;
    width: 281px;
}

.blog__item:hover .blog__line {
    margin-left: 30px;
    width: 297px;
}

.blog__item:hover .blog__date {
    width: 328px;
}

.blog__item:hover .blog__img {
    transform: scale(1.1);
}

.blog__info-desc {
    width: 409px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
}

.blog__img,
.blog__img-bg {
    overflow: hidden;
    width: 360px;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
    transition: 0.25s;
}

.blog__link {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 33px;
    transition: 0.25s;
}

.blog__link-bg {
    display: flex;
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background: var(--scondery-color-light-green, #e2eddf);
    transition: 0.25s;
}

.blog__item-title {
    display: inline-block;
}
.blog__item-desc {
    margin: 13px 0 9px;
    width: 346px;
    height: 90px;
    color: var(--primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.blog__line {
    margin-bottom: 15px;
    width: 337px;
    height: 1px;
    background: #c4c4c4;
    transition: 0.25s;
}

.blog__date {
    margin-bottom: 12px;
    width: 337px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--text-color-black-gray, #575d5e);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    transition: 0.25s;
}

/* ================ Footer ================ */
.footer {
    padding: 72px 0 50px;
    background: var(--primary-color-black-green, #143c3c);
}

.footer__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__title {
    color: var(--text-color-white, #fff);
    font-family: Poppins;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 25px;
}

.footer__submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 354px;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--scondery-color-gray, #6a8383);
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 22px;
    margin: 47px 0 45px;
}

.footer__icon-bg {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 52px;
    border: 1px solid #265252;
    transition: 0.25s;
}

.footer__icon-bg:hover {
    background: #a75325;
}

.footer-active {
    background: #a75325;
}

.footer__social-icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: calc(50% - 5px);
    display: inline-block;
}

.footer__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer__heading {
    color: var(--text-color-white, #fff);
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    margin-bottom: 6px;
}

.footer__item-link {
    color: var(--scondery-color-gray, #6a8383);
    font-family: Public Sans;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25; /* 225% */
}

.footer__item-link:hover {
    color: #fff;
}

.footer__line {
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}

.footer-email {
    border: none;
    background: transparent;
    outline: none;
    color: #fff;
    font-family: Poppins;
    line-height: 1; /* 100% */
}

.footer-email::placeholder {
    color: var(--scondery-color-gray, #6a8383);
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.icon__input-link {
    padding: 3px;
}
